* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(219, 88, 88);
  font-family: 'Lobster', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #f1d3c8;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  width: 500px;
  max-width: 100%;
  text-align: center;
}

.box h1 {
  margin: 0;
}

.box p {
  margin: 2rem;
}

.box button {
  background: #ff7e5e;
  border: 0;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  color: beige;
  padding: 0.6rem 0.9rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease-in;
}

.box button:active {
  transform: scale(0.95);
}

